@import "tailwindcss";

.a{
    border: 1px solid red;
}
.b{
    border: 1px solid blue;
}
.c{
    border: 1px solid green;
}
.aa *{
    border: 1px solid black;
}

.bb *{
    border: 1px solid purple;
}

.cc *{
    border: 1px solid red;
}